<form asp-controller="Account" asp-action="Logout" method="post" style="margin:0; padding:0; display:inline">
    <button type="submit" class="btn btn-link user-account for-buy link-danger m-1 p-1">
        <i class="icon icon-user"></i> Cerrar Sesión
    </button>
</form>
